@import url('https://fonts.googleapis.com/css2?family=Winky+Rough:ital,wght@0,300..900;1,300..900&display=swap');

body{
    font-family: "Winky Rough", sans-serif;
    background-image: url('/img/fondo-de-pantalla.png');
}

#seleccionar-mascota{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titulo{
    color: #CFAB8D;
    font-size: 50px;
}

.subtitulo{
    color: #8C1007;
    font-size: 35px;
}

.titulo2{
    color: #CFAB8D;
    font-size: 50px;
    margin-bottom: 5px;
    margin-top: 10px;
}

.subtitulo2{
    color: #8C1007;
    font-size: 35px;
    background-color: #113F67;
    margin-top: 0px;
    border-radius: 20px;
    padding: 5px;
    
}

.tarjetas, .tarjeta-ataque{
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
    justify-content: center;
}

.tarjeta-de-mokepon{
    width: 180px;
    height: 230px;
    background: #D9C4B0;
    padding: 10px;
    box-sizing: border-box;
    margin: 10px;
    border: 3px solid #468A9A;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
    cursor: pointer;
}

.tarjeta-de-mokepon img{
    width: 150px;
    height: 150px;
}

input{
    display: none;
}

input:checked + label{
    background: #34699A;
}

#boton-mascota{
    width: 250px;
    height: 100px;
    background: #FDF5AA;
    border: 3px solid #58A0C8;
    border-radius: 20px;
    font-family: "Winky Rough", sans-serif;
    font-size: 30px;
    margin-top: 30px;
    cursor: pointer;
}

#seleccionar-Ataque{
    flex-direction: column;
    align-items: center;
}

.boton-de-ataque{
    font-family: "Winky Rough", sans-serif;
    background: #58A0C8;
    border: 2px solid #FDF5AA;
    border-radius: 20px;
    padding: 10px;
    box-sizing: border-box;
    width: 200px;
    font-size: 30px;
    margin-right: 10px;
    cursor: pointer;
}

#mensajes{
    width: 400px;
    background: #FDF5AA;
    padding: 5px;
    margin-top: 30px;
    border-radius: 20px;
    font-size: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#boton-reiniciar{
    border: transparent;
    color: #58A0C8;
    font-family: "Winky Rough", sans-serif;
    background: transparent;
    font-size: 25px;
    cursor: pointer;
}

.ataques{
    margin-top: 20px;
    display: grid;
    grid-template-columns: 300px 300px 300px 300px;
    align-items: start;
    gap: 20px;
}

.ataques img{
    width: 250px;
    height: 250px;
}

.mascotas{
    display: flex;
    align-items: center;
    flex-direction: column;
    background: #34699A;
    border-radius: 20px;
    padding: 15px;
    font-size: 30px;
    margin-top: 20px;
}

.ataques-jugador, .ataques-enemigo{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
    justify-content: center;
    background: #113F67;
    border-radius: 20px;
    margin-top: 20px;
}

@media (max-width: 768px){

    .tarjetas, .tarjeta-ataque{
        flex-direction: column;
    }

    .ataques{
        display: flex;
        flex-direction: column;
        align-items: stretch;
    }
    .titulo{
        margin-top: 65px;
    }
}

.volver{
    font-family: "Winky Rough", sans-serif;
    background: #58A0C8;
    position: absolute;
    top: 20px;
    left: 20px;
    border: 2px solid #FDF5AA;
    border-radius: 20px;
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
}

#ver-mapa{
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#mapa{
    border: 2px solid #FFF9AF;
}